* {
  background-color: #dc8eb0;
}

.github {
  margin:5px;
}
.linkedin{
  margin:5px;
}
.header {
  display:flex;
  margin-left: 990px;
  margin-right:200px;
  justify-content: space-between;

}
.body {
  margin-top:150px;
  margin-left:450px;
  display:flex;
}
.img {
  box-shadow:1px 1px 10px 10px rgb(128, 40, 87);
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(183, 13, 174, 0.337) 0px 18px 36px -18px; */
  height:200px;
  width:210px;
  border-radius: 100px;
  margin-left: 90px;
}

